@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.bg-img {
    background-image: url(/assets/images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}



.card .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.item-center {
    align-items: center;
    display: flex;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.boxs {
    max-width: 34.05px;
}

.menu-icon {
    text-align: left;

}

.heading {
    font-family: "Poppins", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    color: #030712;
    padding-top: 48px;
    text-align: left;
}

.text {
    font-family: "Lato", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #62656D;
    padding-top: 10px;
    padding-bottom: 32px;
    text-align: left;
}

.special-text {
    color: #2563EB;
}

.input-box {
    border: none;
    outline: none;
    background-color: transparent;
}

.input-box::placeholder {
    font-family: "Lato", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9197A6;
}

.mail-box {
    background-color: #F5F8FF;
    border: 1px solid #E4EAF7;
    max-width: 340px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 6px;
}

.mail-box-2 {
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #E4EAF7;
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    background-color: #F5F8FF;
    margin-top: 10px;
    align-items: center;
}

.half-sec {}

.text-2 {
    font-family: "Lato", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
}

.box {
    max-width: 340px;
    justify-content: space-between;
    padding-top: 12px;
}

.gap-10 {
    gap: 10px;
}

.buton-1 {
    max-width: 340px;
    padding: 14px 143.5px 14px 143.5px;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    border: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    display: flex;
}

.line {
    padding-top: 16px;
    max-width: 340px;
}

.text-3 {
    font-family: "Lato", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #9197A6;
}

.pos-r {
    position: relative;
    text-align: center;
}

.text-3::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 99.5px;
    background-color: #C9CFDB;

    left: -2%;
    top: 50%;
    right: 18%;

}

.text-3::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 99.5px;
    background-color: #C9CFDB;
    top: 50%;
    right: 2%;
}





.card-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #62656D;

}





.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -260%);
}

.icon-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -130%);

}

.icon-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, 30%);

}

.icon-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, 160%);
}

.mid-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 120px;

}

.shapes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
}


.main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50% 50%);
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:1200px) {
    .col-xl-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        height: 50%;

    }

    .bg-image {
        background-image: url(/assets/images/bg-img-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        width: 50%;
        height: 100%;
        right: 0;
        position: absolute;
    }

    section {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width:1200px) {
    .upper-layer {
        position: relative;
    }

    .upper-layer {
        content: "";
        position: absolute;
        height: 88%;
        width: 100%;
        background-image: url(/assets/images/bg-img-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
    }

    .cards-parent {
        margin-bottom: 30px;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card {
        max-width: 340px;
        align-items: center;
        margin: auto;
    }

    .mail-box {
        width: 100%;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .transform {
        transform: translateY(300px);
    }
}

@media (max-width:668px) {
    .upper-layer {
        content: "";
        position: absolute;
        height: 65%;
        width: 100%;
        background-image: url(/assets/images/bg-img-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
    }

    .img-1 {
        display: none;
    }

    .img-2 {
        display: none;
    }

    .shapes {
        display: none;
    }

    .icon-1 {
        position: unset;
    }

    .icon-2 {
        position: unset;
    }

    .icon-3 {
        position: unset;
    }

    .icon-4 {
        position: unset;
    }

    .mid-img {
        position: unset;

    }

    .center {
        position: unset;
    }

    .visible-img {
        display: block;
    }

    .mid-img {
        display: none;
    }
}

@media (min-width:668px) {
    .visible-img {
        display: none;
    }

    .visible-icons {
        display: none;
    }
}

@media (min-width:425px) {
    .cards-parent {
        max-width: 340px;
        gap: 8px;
        display: flex;
        margin-top: 20.5px;
    }

    .card-1 {
        max-width: 166px;
        padding: 10px 46.2px 10px 46.2px;
        gap: 10px;
        border-radius: 6px;
        border: 1px solid #E4EAF7;
    }

    .card-2 {
        max-width: 166px;
        padding: 10px 38.5px 10px 38.5px;
        gap: 10px;
        border-radius: 6px;
        border: 1px solid #E4EAF7;

    }
}

@media (max-width:425px) {
    .cards-parent {
        max-width: 340px;
        gap: 8px;
        margin-top: 20.5px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .card-1 {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 10px 46.2px 10px 46.2px;
        gap: 10px;
        border-radius: 6px;
        border: 1px solid #E4EAF7;
    }

    .card-2 {
        width: 100%;
        padding: 10px 38.5px 10px 38.5px;
        gap: 10px;
        border-radius: 6px;
        border: 1px solid #E4EAF7;
        text-align: center;
        justify-content: center;
    }
}